services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
    # This now loads all variables from the .env file for the DB service
    env_file:
      - .env

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  api:
    build: .
    command: uvicorn chalkbio.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    # This now loads all variables from the .env file for the API service
    env_file:
      - .env

  worker:
    build: .
    command: celery -A chalkbio.main.celery worker --loglevel=info
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
    # This now loads all variables from the .env file for the Worker service
    env_file:
      - .env

  scheduler:
    build: .
    command: celery -A chalkbio.main.celery beat --loglevel=info
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
    # This now loads all variables from the .env file for the Scheduler service
    env_file:
      - .env

volumes:
  postgres_data: